/*!
 * @author Dengju Deng from ABS-UI only for abs-link
 * @version 1.0
 * @date 2018/1/30
 * @description ReactWebapp通用样式
 */ 
@import '../../public/theme.less';

// 标准前缀名
@absLink-prefix: absLink;

// ABS-link 产品中组件颜色

// panel
@absLink-panel-bgColor: @abs-brand-black;
@absLink-panel-color: @abs-brand-white;
@absLink-panel-title-borderColor: @abs-brand-orange; 
@absLink-panel-title-color: @abs-brand-white;

// tabs
@absLink-tabs-bgColor: @abs-brand-gray;
@absLink-tabs-bar-bgColor: @abs-brand-black;
@absLink-tabs-bar-color: @abs-brand-white;
@absLink-tabs-bar-color-active: @abs-brand-yellow;

// table
@absLink-table-bgColor: @abs-brand-black;
@absLink-table-color: @abs-brand-white;
@absLink-table-color-red: @abs-brand-red;

// picker
// more ... used by abs-picker/index.less
