/*!
 * @author Dengju Deng from ABS-UI only for abs-link
 * @version 1.0
 * @date 2018/1/30
 * @description ReactWebapp通用样式
 */ 
@import '../../public/theme.less';

// 标准前缀名
@absLink-prefix: absLink;

// ABS-link 产品中组件颜色

// panel
@absLink-panel-bgColor: @abs-brand-black;
@absLink-panel-color: @abs-brand-white;

// tabs
@absLink-tabs-bar-bgColor: @abs-brand-black;
@absLink-tabs-bar-color: @abs-brand-yellow;

// picker
// more ... used by abs-picker/index.less
