/*临时文件*/
/*
* 无限滚动内容
*/
.abs-scrollview-container {
  .am-list-view-scrollview {
    .am-list-body{
      background-color: transparent;
      &:before{
        height: 0;
      }
    }
    .am-list-footer {
      color: #fff;
      font-size: 12px;
    }
  }
}

/*下拉*/
.am-pull-to-refresh-down .am-pull-to-refresh-indicator {
  margin-top: -50px;
}

.am-pull-to-refresh-indicator {
  height: 50px;
  color: #fff;
  line-height: 50px;
  font-size: 12px;
}

.pull-refresh-wrapper.abs-panel {
  padding-bottom: 0 !important;
}

.pull-refresh-wrapper, .pull-refresh-wrapper .abs-panel-content {
  height: 100%;
}

.pull-refresh-wrapper .abs-panel-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pull-refresh-wrapper .abs-panel-content > .abs-scrollview-container {
  flex: 1;
}

.pull-refresh-wrapper .am-list-view-scrollview {
  height: 100%;
}