/*!
 * @author Dengju Deng from ABS-UI
 * @version 1.0
 * @date 2018/1/23
 * @description 移动端通用表格组件
 */

@import "../theme-abs.less";

@table-prefix-cls: ~"@{abs-prefix}-table";

.@{table-prefix-cls}{
    table{
        border-collapse: collapse;
        width:100%;
        background: @abs-brand-black;
        thead{
            tr{
                th{
                    text-align: right;
                    background-color: #444444;
                    color:#fff;
                    padding: 0.28rem 0.146667rem;
                    font-weight: normal;
                    font-size: 14px;
                    white-space: nowrap;
                    &:first-child{
                        text-align: center;
                        padding-left: 0.32rem;
                    }
                    &:last-child{
                        padding-left: 0.32rem;
                    }
                }
            }
        }
        tbody{
            tr{
                td{
                    text-align: right;
                    padding: 0.26rem 0.146667rem;
                    border-bottom:1px solid #444444;
                    white-space: nowrap;
                    font-size: 14px;
                    &:first-child{
                        text-align: center;
                        padding-left: 0.32rem;
                    }
                    &:last-child{
                        padding-right: 0.32rem;
                    }
                    a {
                        color: @abs-brand-yellow;
                    }   
                }
            }
        }
        tr:last-child{
            td{
                font-weight: bolder;
            }
        }
    }
}
