/*!
 * @author Dengju Deng from ABS-UI
 * @version 1.0
 * @date 2018/1/23
 * @description 移动端通用表格组件
 */

@import "../theme-abs.less";

@table-prefix-cls: ~"@{abs-prefix}-table";

.@{table-prefix-cls}{
    table{
        border-collapse: collapse;
        width:100%;
        background: @abs-brand-black;
        font-size: 14px;
        thead{
            tr{
                th{
                    .fn-table('th');
                }
            }
        }
        tbody{
            tr{
                td{
                    .fn-table('td');
                }
                &:last-child{
                    td{
                        font-weight: bolder;
                    }
                }
            }
        }
    }
}

// 表格less配置函树

.fn-table(@type) when (@type = 'th') {
    text-align: right;
    padding: 0.28rem 0.146667rem;
    font-weight: normal;
    background-color: @abs-brand-gray-table;
    &:first-child{
        text-align: center;
        padding-left: 0.32rem;
    }
    &:last-child{
        padding-left: 0.32rem;
    }
}

.fn-table(@type) when (@type = 'td') {
    text-align: right;
    padding: 0.26rem 0.146667rem;
    border-bottom:1px solid @abs-brand-gray-table;
    &:first-child {
        text-align: center;
        padding-left: 0.32rem;
    }
    &:last-child {
        padding-right: 0.32rem;
    }
    a {
        color: @abs-brand-yellow;
    }
}
                    
