.appH5_content{
	color:#fff;
	font-family: "Microsoft YaHei","微软雅黑","SimSun","宋体","arial", "serif"; 
	background-color: #000000;
	text-align:left;
	margin: 0 auto;
	width:9.5rem;
	font-size: 15px;
}

.appH5_content_fullheight {
	min-height: 100vh;
}
 
.appH5_table{
    border-collapse: collapse;
    width:100%;
}
.appH5_table th{
   background-color: #444444;
   color:#fff;
   font-family: "Microsoft YaHei","微软雅黑","SimSun","宋体","arial", "serif";
   padding: 0.28rem 0.146667rem;
   font-weight: normal;
   font-size: 13px;
   white-space: nowrap;
}
.appH5_table td{
   font-family: "Microsoft YaHei","微软雅黑","SimSun","宋体","arial", "serif";
   padding: 0.26rem 0.146667rem;
   border-bottom:1px solid #444444;
   white-space: nowrap;
   font-size: 17px;
}
.appH5_table th:nth-of-type(1),.appH5_table td:nth-of-type(1){
	padding-left: 0.32rem;
}
.appH5_table th:last-child,.appH5_table td:last-child{
	padding-right: 0.32rem;
}
a{
	color:#ffc446;
	text-decoration: none;
}
a:hover, a:focus {
	color:#ffc446;
}
/*文字大小4种*/
.appH5_font_smaller{
	font-size: 13px;
}
.appH5_font_normal{
	font-size:15px;
}
.appH5_font_large{
	font-size: 17px;
}
.appH5_font_larger{
	font-size: 19px!important;
}
.appH5_font_largest{
	font-size: 1.333333rem !important;
}
/*文字颜色*/
.appH5_color_disabled{
	color:#666666;
}
.appH5_color_details{
	color:#ccc;
}
.appH5_color_green{
   color:#33ffcc;
}
.appH5_color_red{
	color:#ff3333!important;
}
.appH5_color_pink{
	color:#ff6666;
}
.appH5_color_skyblue{
	color:#78bcff!important;
}
.appH5_color_blue{
	color:#0066cc;
}
.appH5_color_white{
	color:#fff!important;
} 
 
.appH5_color_icon{
    color:#ccc;
}
.appH5_color_link{
	color:#ffc446;
	text-decoration: none;
}
.appH5_link{
	color:#ffc446;
	text-decoration: none;
}
.appH5_link:hover{
	color:#ffc446;
}
.appH5_border_bottom{
	border-bottom: 1px solid #444444;
}
.appH5_border_top{
	border-top: 1px solid #444444;
}
.appH5_look_more{
	color:#ffc446;
	font-size: 15px;
	width:100%;
	text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.text-center{
	text-align: center;
}
.clearfix{
	clear: both;
}
.text-justify{
	text-align: justify;
}
.fontBold{
	font-weight: bold;
}
.appH5_color_error{
	color:#E54B4B;
	font-size: 13px;
}
.appH5_returnIcon{
	width: 12px;
	height: 21px;
}
.appH5_threeDot{
	width:0.6rem;
	height:0.106667rem;
}
.appH5_title{
	height:19px;
	line-height: 19px;
	border-left: 0.133333rem solid #ff610b;
	font-size: 19px;
	padding-left: 0.266667rem;
	margin-bottom: 0.4rem;
}
.appH5_list_two{
    border-collapse: collapse;
    width:100%;
}
.appH5_list_two td{
	font-family: "Microsoft YaHei","微软雅黑","SimSun","宋体","arial", "serif";
	font-size: 15px;
	padding-bottom:0.2rem; 
	vertical-align: top;
}
.appH5_list_two td:nth-of-type(1){
	width:1.333333rem;
    color:#33ffcc;
	padding-right: 0.2rem;
	white-space: nowrap;
}
.appH5_list_two td:nth-of-type(2){
	width:5.54rem;
}
.appH5_list_two tr:last-child td{
	padding-bottom:0rem; 
}

.appH5_list_four{
    border-collapse: collapse;
    width:100%;
}
.appH5_list_four td{
	font-family: "Microsoft YaHei","微软雅黑","SimSun","宋体","arial", "serif";
	font-size: 15px;
	padding-bottom:0.2rem; 
}
.appH5_list_four td:nth-of-type(2n+1){
	width:1.333333rem;
	vertical-align: top;
    color:#33ffcc;
	padding-right: 0.2rem;
}
.appH5_list_four td:nth-of-type(2n){
	width:2rem;
}
.appH5_list_four tr:last-child td{
	padding-bottom:0rem; 
}
.appH5_white_space{
	white-space: nowrap;
}
.appH5_vertical_middle{
	vertical-align: middle!important;
}
.appH5_vertical_top{
	vertical-align: top;
}
.appH5_vertical_bottom{
	vertical-align: bottom!important;
}
.appH5_tab_div{
	overflow: hidden;
	padding-left:0.72rem;
	padding-right: 0.72rem; 
}
.appH5_tab{
	display: inline-block;
	color:#fff;
	font-size: 19px;
	line-height: 19px;
	padding-top: 12.5px;
	padding-bottom: 9.5px;
	padding-left:0.16rem;
	padding-right:0.16rem;
	font-family: "Microsoft YaHei","微软雅黑","SimSun","宋体","arial", "serif";
	/* 禁用长按手势 */
	-webkit-touch-callout: none;
}
.appH5_tab:hover {
	color: #fff;
}
.router-link-active .appH5_tab {
	border-color: #ffc446;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	color: #ffc446;
}
.appH5_select_tab{
	color:#ffc446;
	font-size: 19px;
	border-bottom: 3px solid #ffc446;
	padding-left:0.16rem;
	padding-right:0.16rem;
	padding-top: 0.346667rem;
	padding-bottom:0.266667rem;
	float:left;
}
.appH5_ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* 产品和交易的select的div */
.appH5_select_div{
	table-layout: fixed;
	width:100%;
	margin: 0 0 0.32rem 0;
	line-height: 0;
	display: table;
}

.spinner_div{
	height: 40px;
	line-height: 40px;
	justify-content: center;
	display: flex;
	padding-top: 0.2rem;
}

.spinner-circle{
	font-size: 20px;
}
.spinner-circle .van-loading__spinner{
	width: 20px;
	height: 20px;
}
.nomore{
	font-size: 12px;
	color: #ccc;	
}
.appH5_word_break{
	word-break: break-word;
	word-wrap: break-word;
}

.mint-loadmore-top{
	font-size: 12px;
}

.appH5_float_left,.appH5_fl{
	float: left;
}

.appH5_float_right,.appH5_fr{
	float: right;
}
.appH5_relative{
	position: relative;
}
.appH5_absolute{
	position: absolute;
}