/*!
 * @author Dengju Deng from ABS-UI
 * @version 1.0
 * @date 2018/1/23
 * @description 移动端通用面板组件
 */

@import "../theme-abs.less";

@panel-prefix-cls: ~"@{abs-prefix}-panel";

 .@{panel-prefix-cls}{
    padding: 0px 10px 20px 10px;
    margin-top: 10px;
    // min-height:250px;
    background-color: @abs-brand-black;
    &-title{
        height:18px;
        line-height: 18px;
        border-left: 0.133333rem solid @abs-brand-orange;
        font-size: 16px;
        padding-left: 0.266667rem;
        margin-bottom: 0.4rem;
    }
    &-container{
        color: @abs-brand-gray;
        text-align: center;
        height: 30px;
        line-height: 30px;
        width: 100%;
    }
}








